/Unity/Castle_Kid/[Ll]ibrary/
/Unity/Castle_Kid/[Tt]emp/
/Unity/Castle_Kid/[Oo]bj/
/Unity/Castle_Kid/[Bb]uild/
/Unity/Castle_Kid/[Bb]uilds/
/Unity/Castle_Kid/[Ll]ogs/
/Unity/Castle_Kid/[Uu]ser[Ss]ettings/

/Unity/Castle_Kid/[Pp]ackages/
/Unity/Castle_Kid/[Aa]ssets/


Unity/Castle_Kid/[Ll]ibrary/
Unity/Castle_Kid/[Tt]emp/
Unity/Castle_Kid/[Oo]bj/
Unity/Castle_Kid/[Bb]uild/
Unity/Castle_Kid/[Bb]uilds/
Unity/Castle_Kid/[Ll]ogs/
Unity/Castle_Kid/[Uu]ser[Ss]ettings/

Unity/Castle_Kid/[Pp]ackages/
Unity/Castle_Kid/[Aa]ssets/
